*.vtk
*.docx
*.pyc
*.ai
model.py.bak
network_3d.pkl
result_files/output_data_0.pickle
optimizer/optuna_results/*
optimizer/optuna_diff_modulus_results/*
optimizer/optuna_cell_speed_results/*
optimizer/optuna_cell_speed_control_results/*
*.bak
*.pvsm
*.png
*.csv
*.tex
*.log
*.db
network_generator/.vscode/settings.json
